<div class="container">
  <h2>Randomly generated <%= @session.num_students %> students</h2>
  <strong class="text-danger">Here they are:</strong>

  <div class="margin-top-bottom-sm">
    <% @students.each_with_index do |student, index| %>
      <% unless student.alone %>
        <p><%= "#{index + 1}. #{student.name}" %></p>
      <% end %>
    <% end %>
  </div>

  <div class="btn btn-danger" type="submit">
    <%= link_to "Generate Lesson #{@session.current_lesson}",
        lessons_path(session: @session),
        method: :post %>
  </div>
  <p><em><%= "You specified #{@session.num_lessons} lessons" %></em></p>
</div>
